<div class="main-agileits" id="infoform">
   <div class="form-w3-agile">
            <h6 class="warning">Warning:</h6>
            <h6 class="warning">You have to enter correct U.S. address.</h6>
            <h6 class="warning">Or you will see error messege! </h6>
      <%= form_for @postcard do |f| %>
            <input type="hidden" name="postcard[front]" value="<%= @postcard.front %>">
            <h2>2.To</h2>
            <input placeholder="Name" type="text" name="postcard[r_name]" id="postcard_title" value="<%= @postcard.r_name %>">
            <input placeholder="Address 1" type="text" name="postcard[r_address_line1]" id="postcard_author" value="<%= @postcard.r_address_line1 %>">
            <input placeholder="Address 2" type="text" name="postcard[r_address_line2]" id="postcard_courses" value="<%= @postcard.r_address_line2 %>">
            <input placeholder="City" type="text" name="postcard[r_city]" id="postcard_price" value="<%= @postcard.r_city %>">
            <input placeholder="State" type="text" name="postcard[r_state]" id="postcard_price" value="<%= @postcard.r_state %>">
            <input placeholder="Zip Code" type="text" name="postcard[r_zip]" id="postcard_price" value="<%= @postcard.r_zip %>">
            <h2>3.From</h2>
            <input placeholder="Name" type="text" name="postcard[s_name]" id="postcard_title" value="<%= @postcard.s_name %>">
            <input placeholder="Address 1" type="text" name="postcard[s_address_line1]" id="postcard_author" value="<%= @postcard.s_address_line1 %>">
            <input placeholder="Address 2" type="text" name="postcard[s_address_line2]" id="postcard_courses" value="<%= @postcard.s_address_line2 %>">
            <input placeholder="City" type="text" name="postcard[s_city]" id="postcard_price" value="<%= @postcard.s_city %>">
            <input placeholder="State" type="text" name="postcard[s_state]" id="postcard_price" value="<%= @postcard.s_state %>">
            <input placeholder="Zip Code" type="text" name="postcard[s_zip]" id="postcard_price" value="<%= @postcard.s_zip %>">
            <input type="submit" name="commit" value="Submit" data-disable-with="Submit">
      <% end %>
   </div>
</div>